.category-list {
  list-style: none;
  padding: 0;
}
.category-list li {
  margin: 15px 0;
}
.category-list h2 {
  font-size: 24px;
  margin: 0 0 5px;
}
.post-list {
  list-style: none;
  padding-left: 20px;
}
.post-list li {
  margin: 10px 0;
}
.post-list a {
  color: #666;
  text-decoration: none;
  outline: none;
  font-size: 20px;
}
.post-list a:hover {
  text-decoration: underline;
}
.post-list span {
  font-size: 14px;
}
