.row {
  --bs-gutter-x: 0;
}
body {
  font-family: "LXGW WenKai TC", cursive;
  margin: 0 auto;
}
.font-english {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1px;
}
header {
  height: 60px;
  position: sticky;
  padding: 10px;
}
.right-sidebar {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}
.right-sidebar-content {
  position: sticky;
  top: 60px;
}
.profile {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 40px;
}
.profile-picture {
  width: 88px;
  height: 88px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
}
.profile-author {
  font-size: 18px;
  font-weight: 500;
  color: #242424;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 0;
}
.profile-description {
  font-size: 16px;
  font-weight: 400;
  color: #242424;
  line-height: 20px;
  margin-top: 16px;
  margin-bottom: 0;
}
.action-icons a {
  padding-top: 20px;
}
.sidebar-menu {
  width: 100%;
  height: 100%;
  display: block;
  padding-top: 20px;
}
.sidebar-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar-menu ul li {
  margin-bottom: 5px;
}
.sidebar-menu ul li a {
  text-decoration: none;
  color: #242424;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
.sidebar-footer {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 0;
}
.icon-link>.bi {
  width: 40px;
  height: 40px;
}
.bi::before {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #d95a15;
  color: #fff;
  text-align: center;
  font-size: 20px; /* Adjust font size as needed */
}
@media (max-width: 768px) {
  .mobile-no-right-border {
    border-right: none !important; /* Bootstrap Primary Color */
  }
}
.post-title {
  font-size: 1.5rem;
  color: #007bff;
}
.post-excerpt {
  font-size: 1rem;
  color: #6c757d;
}
.post-date {
  font-size: 0.875rem;
  color: #6c757d;
}
.post-container {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}
.page-nav {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.page-nav > span,
.page-nav > a {
  margin: 0 10px;
  color: #000;
}
.page-nav > .current {
  color: #d3d3d3;
}
.page-nav > a:hover {
  color: #212529;
}
.archive-list-container {
  opacity: 1;
  display: block;
  position: relative;
}
.posts-collapse::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  margin-left: -2px;
  width: 4px;
  height: 100%;
  background: #d3d3d3;
  z-index: -1;
}
.archive-counter,
.collection-title,
.archive-post {
  opacity: 1;
  display: block;
  position: relative;
  border-bottom: 1px dashed #ccc;
}
.dot {
  margin: 20px 0 20px 10px;
  font-size: 16px;
}
.collection-title .dot {
  margin: 30px 0 30px 15px;
}
.dot::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 12px;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  background: #000;
  border-radius: 50%;
  border: 1px solid #fff;
}
.dot > span {
  padding-left: 15px;
}
.dot > a {
  color: #666;
  text-decoration: none;
  outline: none;
}
.dot > a:hover {
  text-decoration: underline;
}
.archive-counter-text {
  font-size: 24px;
}
.archive-year {
  font-size: 20px;
}
.archive-post-date {
  font-size: 14px;
  padding-right: 8px;
}
.category-list {
  list-style: none;
  padding: 0;
}
.category-list li {
  margin: 15px 0;
}
.category-list h2 {
  font-size: 24px;
  margin: 0 0 5px;
}
.post-list {
  list-style: none;
  padding-left: 20px;
}
.post-list li {
  margin: 10px 0;
}
.post-list a {
  color: #666;
  text-decoration: none;
  outline: none;
  font-size: 20px;
}
.post-list a:hover {
  text-decoration: underline;
}
.post-list span {
  font-size: 14px;
}
